<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.SuiteListener"/>
    </listeners>
    <test verbose="2" name="testCase/WebFormTC.java">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCase.WebFormTC"/>
        </classes>
    </test>
</suite>